header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 0.5rem;
  padding-right: 3rem;
  .heading {
    display: flex;
    align-items: center;
    gap: 50px;
    .fa-bars {
      font-size: 22px;
      cursor: pointer;
      margin-left: 1.5rem;
      display: none;
      @media (max-width: 800px) {
        display: inline;
      }
    }
    .intro {
      .first {
        font-weight: 500;
        font-size: 18px;
        input {
          all: unset;
          border-bottom: 1px solid rgba(255, 255, 255, 0.445);
          font-size: 16px;
          @media (max-width: 350px){
            font-size: 12px;
          }
        }
        span {
          font-size: 26px;
          background: linear-gradient(to right, #d0d92e, #89e791);
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
          font-weight: 700;
          @media (max-width: 350px){
            font-size: 16px;
          }
        }
        @media (max-width: 350px){
          font-size: 14px;
        }
      }
      .second {
        line-height: 32px;
        span {
          font-weight: 500;
          color: rgb(42, 176, 42);
          @media (max-width: 350px){
            font-size: 12px;
          }
        }
        @media (max-width: 350px){
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
  }
  a {
    all: unset;
    text-decoration: none;
    color: white;
    background-color: rgb(42, 176, 42);
    text-shadow: 0 0 6px rgb(36, 35, 35);
    padding: 0.5rem 1rem;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    animation: glow 1.5s infinite alternate;
    @keyframes glow {
      0% {
        box-shadow: 0 0 5px rgb(42, 176, 42);
      }
      100% {
        box-shadow: 0 0 20px rgb(42, 176, 42);
      }
    }
    @media (max-width: 550px){
      display: none;
    }
  }
}
